[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
numpy = "==1.24"
torch = "*"
torchvision = "*"
torchaudio = "*"
opencv-python = "*"
flask = "*"
flask-socketio = "*"
urllib3 = "*"
matplotlib = "*"
pillow = "*"
netcdf4 = "*"
xarray = "*"
cartopy = "*"
s3fs = "*"
fsspec = "*"
h5netcdf = "*"
tqdm = "*"

[dev-packages]

[requires]
python_version = "3.10"
