<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Video Streaming</title>
</head>
<body>
    <video id="video" width="640" height="480" autoplay></video>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.1.2/socket.io.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script>
        $(document).ready(function () {
            const socket = io.connect('http://' + document.domain + ':' + location.port);

            navigator.mediaDevices.getUserMedia({ video: true })
                .then(function (stream) {
                    const video = document.getElementById('video');
                    video.srcObject = stream;

                    socket.emit('streaming', { data: 'User connected' });

                    // Transmitir el video al servidor
                    const mediaRecorder = new MediaRecorder(stream);
                    mediaRecorder.ondataavailable = function (event) {
                        if (event.data.size > 0) {
                            socket.emit('video_frame', { frame: event.data });
                        }
                    };
                    mediaRecorder.start();
                })
                .catch(function (error) {
                    console.error('Error al obtener acceso a la cámara:', error);
                });
        });
    </script>
</body>
</html>
